<!-- Footer Section -->
<style>
  footer {
    list-style-type: none;
    margin: 0;
    padding: 14px 16px;
    overflow: hidden;
    background-color: #191919;
    color: white;
    text-align: center;
  }
</style>
<footer class="footer">
<!-- Copyright Section -->
  <div class="copyright">
	&copy;2022 Agile Web Development - <strong>Gruppe H</strong>
  </div>
</footer>
