<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> no title defined yet | <%= title %></title>
</head>
<<body>
  <div class="site-title">
    <h4 class="logo">GET SUSHI</h4>

    <a href="/"><h1>NAME</h1></a>
    <p>Description</p>
  </div>
</body>
