<nav>
  <style>
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: #191919;
      <!-- position: fixed; -->
    }

    li {
      float: center;
      display: inline;
    }

    li a {
      display: inline-block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
    }

    <!-- Change the link color to #878787 ( dark grey) on hover -->
    a:hover {
      color: #00FF00;
    }
  </style>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/menu">Menu</a></li>
    <li><a href="/about">About</a></li>
  </ul>
</nav>
