<nav>
  <div class="site-title">
    <h4 class="logo">GET SUSHI</h4>

    <a href="/"><h1>NAME</h1></a>
    <p>Description</p>
  </div>

  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/menu">Menu</a></li>
    <li><a href="/about">About</a></li>
  </ul>
</nav>
