<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
<nav>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/menu">Menu</a></li>
    <li><a href="/cart" id="cart"><i class='fas fa-shopping-cart' style='font-size:19px;color:rgb(255, 255, 255)'></i><span class="total-count"> <%= cartItems || 0 %></span> </a></li>
    
  </ul>
</nav>
