<!DOCTYPE html>
<html>
  <head>
      <meta charset="utf-8">
      <title>About</title>
      <link rel="stylesheet" type="text/css" href="/css/style.css">
  </head>
  <body>
    <%- include("./partials/nav.ejs") %>
    <h1>restaurant information</h1>
    <p><h4><b>address:</b></h4></p>
    <p><h4>Sültstrasse 62</h4></p>
    <p><h4>10409 Berlin</h4></p>
    <!-- found here: https://extension.umaine.edu/plugged-in/technology-marketing-communications/web/tips-for-web-managers/embed-map/ -->
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2426.131292179356!2d13.431381416127026!3d52.54914997981982!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47a84dfaece32d89%3A0x8d9f27e12e054c9f!2sS%C3%BCltstra%C3%9Fe%2062%2C%2010409%20Berlin!5e0!3m2!1sen!2sde!4v1651687114165!5m2!1sen!2sde" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

    <h1>contact information</h1>
    <p><h4><b>phone:</b></h4></p>
    <p><h4>+49(0)15174446479</h4></p>
    <%- include("./partials/footer.ejs") %>
  </body>
</html>
