<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
  <%- include("./partials/nav.ejs") %>


  <div class="container">
    <h1>Your Order</h1>

  <section class="shopping-cart">

        <ul class="sc-items">
          <li class="clearfix">
            <span class="item-name">[Show Name Of Dish]</span>
            <span class="item-price"><strong>[Show Price Of Dish]</strong></span>
            <span class="item-quantity">[Show item quantity]</span>
          </li>
        </ul>

        <div class="sc-footer">
          <div class="sc-total"><strong>
            <span class="lighter-text">Total:</span>
            <span class="total-price">[Show total sum of order]</span></strong>
          </div>
        </div> 
        <a href="#" class="sc-btn">PLACE ORDER</a>
      </div> 
    </div> 

    </section>
  </div> 

  <%- include("./partials/footer.ejs") %>

  </body>
</html>
