<style>
    body {
        background-color: #191919;
    }
</style>
<h1>Chat</h1>
<div class="chatContainer">
    <% if (currentUser) { %>
    <h2>  welcome to the chat box, <%= currentUser.name.first %>  </h2>
    <form id="chatForm">
        <input id="chat-input" type="text">
        <input id="chat-user-name" type="hidden"
        value="<%= currentUser.fullName %>">
        <input id="chat-user-id" type="hidden"
        value="<%= currentUser._id %>">
        <input type="submit" value="send">
        </form>
    <div id="chat"></div>
    <% } %>
</div>