<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
  <%- include("./partials/nav.ejs", {cartItems: "to be defined"}) %>

	<div class="container">
    <!-- Banner -->
    <section class="banner" id="banner">
    <div class="button"><a href="/menu">MENU</a></div>
    </section>
  </div>

  <%- include("./partials/footer.ejs") %>

  </body>
</html>
