<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Home Page</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
  </head>
  <body>
    <div class="container">
      <!-- Navigation -->

      <header>
        <div class="nav">
          <h4 class="logo">SUSHI</h4>
        </div>
      </header>

      <!-- Banner -->

      <section class="banner" id="banner">
        <div class="button"><a href="/menu">MENU</a></div>
      </section>
    </div>
  </body>
</html>
