<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Overview</title>
  </head>
  <body>
    <h1>we recieved your Order, Thank you</h1>

    <h2>your Order review:</h2>

    <div class="sc-footer">
      <div class="sc-total">
        <strong>
            <span class="lighter-text">you food will be :</span>
            <span class="total-price"><%= cartSize %></span>
            <span class="lighter-text">items</span>
            <br />


          <span class="lighter-text">you ordered:</span>
          <span class="total-price"><%= cartSize %></span>
          <span class="lighter-text">items</span>
          <br />
          <span class="lighter-text">you payed:</span>
          <span class="total-price">€<%= cartPrice %></span></strong
        >
      </div>
    </div>
  </body>
</html>
