<div class="veggie-content">
  <h1>Vegetarian Dishes</h1>
  <% if (veggie.length > 0) { %>
    <% veggie.forEach(veggie => { %>
      <h3 class="title">
      <%= veggie.title %> - <%= veggie.price %> </h3>
      <img src="<%= veggie.image %>">
    <% }) %>
  <% } %>
</div>
