body {
  text-align: center;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro",
    "DejaVu Sans Condensed", "Helvetica, Arial", "sans-serif";
  background-color: #fff;
  font-style: normal;
  font-weight: 100;
  width: 100%;
  overflow-x: hidden;
}

/* Container */
.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: #ffffff;
}

.flexContainer {
  display: flex;
  width: 100%;
  justify-content: center;
  /*
	flex-direction: row;
	flex-wrap: wrap;
	align-items: stretch;
	margin: 10px; */
}

.item {
  /* flex: 1; */
  width: 20%;
  padding: 5px;
  border: 1px solid #7a00dd;
  /* border-radius: 25px; */
  margin-bottom: 10px;
}

.item p,
h4 {
  margin: 0;
}

.item h4 {
  text-decoration: underline;
}

.item + .item {
  margin-left: 1%;
  margin-right: 1%;
}

.gridContainer {
  display: grid;
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 1%;
  margin-bottom: 1%;
  gap: 1%;
}

.gridItem { 
  padding: 15px;
  border: 1px solid #7a00dd;
  background-color: #ffffff;
}

.gridItem p,
h4 {
  margin: 0;
}

.gridItem h4 {
  text-decoration: underline;
}

.aboutUs {
  grid-column: 1 / 4;
  grid-row: 1 / 4;
}

.restaurantLocation {
  grid-column: 4;
  grid-row: 1;
}

.restaurantOpeningHours {
  grid-column: 4;
  grid-row: 2 / 3;
}

.restaurantContactInfo {
  grid-column: 4;
  grid-row: 4;
}

.key {
  text-align: right;
  width: 50%;
  display: inline-block;
  box-sizing: border-box;
}

.value {
  text-align: left;
  width: 50%;
  padding-left: 5px;
  display: inline-block;
  box-sizing: border-box;
}

.key2 {
  text-align: right;
  width: 57%;
  display: inline-block;
  box-sizing: border-box;
}

.value2 {
  text-align: left;
  width: 43%;
  padding-left: 5px;
  display: inline-block;
  box-sizing: border-box;
}

.map {
  width: 60%;
  height: 500px;
  border: 1px solid #7a00dd;
}

/* normaler Link */
a:link {
  color: orangered;
  text-decoration: none;
}

/* mouse over link */
a:hover {
  color: black;
  text-decoration: none;
}

/* Navigation */

.logo {
  width: 100%;
  margin-left: 70px;
  letter-spacing: 3px;
  position: fixed;
  text-align: left;
  line-height: 10px;
  color: orangered;
}

/* Banner Section */
.banner {
  background: url("https://images.unsplash.com/photo-1617196034796-73dfa7b1fd56?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80");
  background-size: cover;
  width: 100%;
  height: 500px;
  padding-top: 150px;
  padding-bottom: 170px;
  font-size: 20px;
  letter-spacing: 3px;
  background-attachment: fixed;
  background-repeat: no-repeat;
}


.btn {
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  border: 2px solid #7a00dd;
  border-radius: 0.5em;
  color: #7a00dd;
  cursor: pointer;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  font-size: 1rem;
  line-height: 1;
  padding: 1em 2em;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  margin: 0 auto;
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 5px;
}

.btn:hover {
  color: #fff;
  outline: 0;
}

.first {
  -webkit-transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
  transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
}

.first:hover {
  box-shadow: 0 0 40px 40px #7a00dd inset;
}

.item-cell img {
  max-width: 400px;
  max-height: 200px;
}

h1 {
  background-color: #191919;
  color: #7a00dd;
  margin: 0;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #191919;
}

nav li {
  float: center;
  display: inline;
}

nav li a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #4e1f86 ( purple) on hover */
nav a:hover {
  color: #7a00dd;
}

footer {
  list-style-type: none;
  margin: 0;
  padding: 14px 16px;
  overflow: hidden;
  background-color: #191919;
  color: white;
  text-align: center;
}

/* Cell for menu item */
.item-cell {
  display: inline-block;
  border-style: solid;
  border-width: 1px;
  margin-top: 5px;
}

/*Shopping Cart */

.shopping-cart {
  margin: 100px;
  height: auto;
  position: relative;
  border-radius: 20px;
  padding: 100px;
  border: 2px solid #7a00dd;
}

.sc-items {
  padding-top: 10px;
  list-style: none;
}

.item-name {
  display: inline;
  padding-top: 10px;
}

.item-price {
  margin-right: 10px;
  margin-left: 10px;
}

.sc-footer {
  border-top: 1px solid #000;
  padding-top: 10px;
  padding-bottom: 60px;
}

.sc-total {
  float: right;
}

.sc-btn {
  padding: 15px;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
  border: 3px solid black;
  color: orangered;
  font-size: 17px;
  transition: all 0.3s linear;
}

.sc-btn:hover {
  background-color: #7a00dd;
  color: #fff;
  cursor: pointer;
  text-decoration: none;
}

.total-count {
  padding-left: 5px;
}

.button, .trigger {
  padding-top: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
  border: 3px solid black;
  color: orangered;
  font-size: 17px;
  transition: all 0.3s linear;
  background-color: #fff;
  width: 200px;
  transition: all 0.3s linear;
}

.button:hover, .trigger:hover {
  background-color: #7a00dd;
  color: #fff;
  cursor: pointer;
  text-decoration: none;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.food:active {
  background-color: #5e03a8;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.place {
  width: 20%;
  height: 30%;
}

.place span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.place span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.place:hover span {
  padding-right: 25px;
}

.place:hover span:after {
  opacity: 1;
  right: 0;
}

/* Checkout */
.checkout-box {
  border-radius: 2em;
  inline-size: 60em;
  overflow: auto;
  display: grid;
  background-color: rgb(151, 157, 202);
  line-height: 1.5;
  min-block-size: 100vh;
  margin: auto;
  margin-top: 5em;
  margin-bottom: 5em;
  width: 50%;
  border: 3px solid rgb(2, 50, 105);
  padding: 10px;
}

#checkoutBody {
  background-color: rgb(0, 0, 0);
}

.form {
  display: grid;
  gap: 2em;
}

fieldset {
  border: 0;
}

legend {
  font-size: 1.2em;
  font-weight: 600;
  margin-block-end: 1em;
}

.col {
  border-radius: 1em;
  background-color: rgb(172, 174, 209);
  color: #fff;
  padding: 4.5em;
  margin-bottom: 2em;
}

.payment-options,
.delivery-options {
  display: grid;
  gap: 1em;
  justify-content: center;
  margin-bottom: 2em;
}

.payment,
.delivery {
  align-items: center;
  background-color: #fefdfe;
  border-radius: 1em;
  display: flex;
  padding: 1em;
  width: 20em;
}

.payment label,
.delivery label {
  align-items: center;
  display: flex;
  flex: 1;
  gap: 1em;
}

.order-ov {
  margin-top: 3em;
  margin-bottom: -3.5em;
}

input {
  height: 10px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 6px;
  resize: vertical;
}

input[type="checkbox"] {
  height: 16px;
}

.imgbox {
  display: grid;
  height: 100%;
}

.fit {
  max-width: 100%;
  max-height: 100vh;
  margin: auto;
}

/* User Section */
.users {
  margin-bottom: 5em;
  margin-top: 5em;
}

.user-table {
  width: 50%;
  margin: 30px auto;
  margin-bottom: 4em;
  text-align: left;
  border: 1px solid black;
  padding: 4em;
}

.user-btn {
  padding: 15px;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
  border: 3px solid black;
  color: orangered;
  font-size: 17px;
  transition: all 0.3s linear;
  background-color: #fff;
}

.user-btn:hover {
  background-color: #7a00dd;
  color: #fff;
  cursor: pointer;
  text-decoration: none;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.userdata {
  display: grid;
  place-items: center;
  margin-top: 4em;
  margin-bottom: 4em;
  color: white;
}

.profile {
  padding-top: 4em;
  padding-bottom: 4em;
  padding-left: 8em;
  padding-right: 8em;
  background-color: rgb(172, 174, 209);
  border-radius: 2em;
}

.userdata input {
  font-size: 1.5em;
  display: block;
  width: 100%;
  height: 100%;
  padding: 5px 10px;
  background: none;
  border: 1px solid white;
  border-radius: 0;
  position: relative;
}

.userdata ::placeholder {
  color: white;
  font-size: 0.7em;
}

.user-ovw {
  text-align: left;
  margin: 30px auto;
  border: 1px solid black;
  padding: 4em;
}

.user-ovw th {
  padding: 0.7em;
}

.flashes {
  background-color: #191919;
  color: #7a00dd;
  font-size: x-large;
}

.clock{
  font-weight: bold;
  margin-bottom: 5px;
}

.restaurantStatus p {
  margin-top: 0px;
  margin-bottom: 0px;
}

.openClose {
  font-weight: bold;
}

.verticalWrapper {
  display: block;
  justify-content: center;
}

.horizontalWrapper {
  display: flex;
  justify-content: center;
}

.formItem + .formItem {
  margin-left: 2px;
  margin-right: 2px;
}

/* Modal */
.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(48, 7, 89, 0.5);
  opacity: 0;
  visibility: hidden;
  transform: scale(1.1);
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 1rem 1.5rem;
  width: 24rem;
  border-radius: 0.5rem;
}

.close-button { 
  text-align: center;
  cursor: pointer;
  font-size: 3em;
  float: right;
}

.close-button:hover {
  color: #7a00dd;
}

.show-modal {
  opacity: 1;
  visibility: visible;
  transform: scale(1.0);
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}
