<div class="data-form">
    <div class="userdata">
        <form action="/users/login" method="POST">
            <h2>Login</h2>
            <label for="inputEmail">Email Address</label>
            <input type="email" name="email" id="inputEmail" placeholder="Email Address" required>
            <br>
            <label for="inputPassword">Password</label>
            <input type="password" name="password" id="inputPassword" placeholder="Password" required>
            <button type="submit">Login</button>
        </form>
    </div>
</div>